<% provide(:title, "change password") %>

<h3 class="page-title">change password</h3>

<%= form_for( @user, url: password_reset_path(params[:id])) do |f| %>
	<%= hidden_field_tag :email, @user.email %>

	<p>
		New <label for="user_password">Password</label>
		<input type="text" name="user[password]" id="user_password">
	</p>

	<p>
		New <label for="user_password_confirmation">Password confirmation</label>
		<input type="text" name="user[password_confirmation]" id="user_password_confirmation">
	</p>	

	<p>
		<button class="normal" type="submit">submit</button>
	</p>
	
<% end %>