<h1>Welcome to driftCode.</h1>

<h4>account activation.</h4>

<p>
  <%= @greeting %><%= @user.name %> thanks for creating your brand new driftCode account.
</p>

<p>
	Click <%= link_to "here", edit_account_activation_url( @user.activation_token, email: @user.email) %> to activate your account.
</p>
