<h6 class="comment"><%= comment.name %>: <%= comment.body %> <br> <span class="ago"><%= time_ago_in_words(comment.created_at) %> ago | <%= link_to 'delete', 
			[comment.post, comment], 
			method: :delete,
			class: 'button',
			data: { confirm: 'Are you sure?' } %></span></h6>
