<div class="container waypoint_image_new" id="waypoint_image">
  <%= form_for @waypoint_image, html: {multipart: true} do |f| %>
    <input id="journey_id" name="journey_id" value="<%= params[:journey_id] %>" type="hidden" />
    <input id="waypoint_id" name="waypoint_id" value="<%= params[:waypoint_id] %>" type="hidden" />
    
    <div id="driftmap-timeline-container" class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
      <h4 class="waypoint-title" style="color:#C2D9EB;font-size:2.5em;margin: 0 0 35px; width:-moz-fit-content">Create a Gallery</h4>
      
      <h4 class="waypoint-title" style="width: -moz-fit-content;">Add Photos &amp; Videos</h4>
      <span class="normal add-photo" style="margin: 5% 0 5% 3%;"><i class="fa fa-plus"></i> photo</span>
      <input class="waypoint_image" name="photo[0]" accept="image/jpeg, image/gif, image/png, image/jpg" data-image="0" style="margin: 6% 6% 5% 3%; width:100%;" type="file">
    </div>

    <div id="dm-legend" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <input class="normal pull-right" type="submit" name="commit" value="save" />

      <%= link_to(controller: 'waypoints', action: 'content_creation', waypoint_id: params[:waypoint_id], journey_id: params[:journey_id]) do %>
        <span class="normal cancel" style="display: inline-block; margin: 30px 0; float: left; margin:1% 0 0 0">cancel</span>
      <% end %>
    </div>
  <% end %>
</div>