<% provide(:title, 'edit profile') %>

<input type="hidden" value="1" id="users_edit">

<div class="users_edit">
  <!-- LEAFLET -->
  <div class="map-container">
    <div id='map'></div>
  </div>
</div>
