<%= provide :title, "blog" %>

<header class="main-blog-post container-fluid">
	<div class="main-title col-lg-3 col-md-3 col-sm-12 col-xs-12">
		<h2>My title</h2>
	</div>

	<div class="main-paragraph col-lg-6 col-lg-offset-1 col-md-offset-1 col-md-6 col-sm-12 col-xs-12">
		<h4>asdf asdf asdf asdf asdf asd fas dfasdfaasdf adfs adsf as df adsf as df ;askdj;f asdf askldfj</h4><br>	
	</div>	
</header>

<main class="rest-blog-posts-container container">
	<div class="blog-preview bp-1">
		<div class="bp-preview-image-container">
				<%#= image_tag("sanFranBayPano.jpg", :class => 'bp-preview-image') %>
			</div>

		<div class="post-preview-title col-lg-3 col-md-3 col-sm-12 col-xs-12">
			<h3>My title</h3>
		</div>

		<div class="post-preview-paragraph col-lg-6 col-lg-offset-1 col-md-offset-1 col-md-6 col-sm-12 col-xs-12">
			<h5>asdf asdf asdf asdf asdf asd fas dfasdfaasdf adfs adsf as df adsf as df ;askdj;f asdf askldfj</h5>
		</div>
	</div>

	<div class="blog-preview bp-1">
		<div class="post-preview-title col-lg-3 col-md-3 col-sm-12 col-xs-12">		
			<h3>My title</h3>
			<div></div>
		</div>

		<div class="post-preview-paragraph col-lg-6 col-lg-offset-1 col-md-offset-1 col-md-6 col-sm-12 col-xs-12">
			<h6>asdf asdf asdf asdf asdf asd fas dfasdfaasdf adfs adsf as df adsf as df ;askdj;f asdf askldfj</h6>
		</div>
	</div>

	<div class="blog-preview bp-1">
		<div class="post-preview-title col-lg-3 col-md-3 col-sm-12 col-xs-12">		
			<h3>My title</h3>
		</div>

		<div class="post-preview-paragraph col-lg-6 col-lg-offset-1 col-md-offset-1 col-md-6 col-sm-12 col-xs-12">
			<h6>asdf asdf asdf asdf asdf asd fas dfasdfaasdf adfs adsf as df adsf as df ;askdj;f asdf askldfj</h6>
		</div>
	</div>

</main>