<div class="container">
  <div class="readme-container">
    <h4>Welcome to driftMap</h4>
    <p style="line-height: 40px;">driftMap is a platform that allows you to share a map of your journeys and adventures, comprised of all your photos, treks, writing and of course all the friends you have made along the way. </p>
    
    <% unless logged_in? %>
      <%= link_to signup_path do %>
        <button class="normal">Sign up</button>
      <% end %>

      <%= link_to login_path do %>
        <button class="normal">Log in</button>
      <% end %>
    <% end %>
  </div>
</div>

<input type="hidden" id="driftmap_id" value="<%= @ethan.driftmap.id %>">

<div id="home-page">
  <!-- MAP -->
  <div class="map-container">
    <div id='map'></div>
  </div>



  <div class="master-container">
    <!-- Guide -->
    <div class="master-guide hidden">
      <!-- LEGEND -->
      <div class="master-legend">
        <div class="legend-container">
          <div id="accordian-container">
            <div id="waypt-accord" class="panel-group " role="tablist" aria-multiselectable="true"></div>
          </div>
        </div>
      </div>

      <!-- CONTENT -->
      <div class="master-content">
        <div class="content-container"></div>
      </div>
    </div>

  </div>
</div>

<style type="text/css"> body #page-wrapper { margin-bottom: 0; } </style>