<h2 class="page-title">driftCode</h2>

<div class="map-container">
	<div id='map'></div>
		<script type="text/javascript">
			var driftmap = {
				init_x: '<%= @post.init_x %>',
				init_y: '<%= @post.init_y %>',
				init_zoom: '<%= @post.init_zoom %>',
			}
			init_map('map', driftmap);		
		</script>
</div><!-- End Map -->
