<%= provide(:title, "home") %>

<div class="map-container">
	<div id='map'></div>
		<script>
			var map = L.map('map').setView([40.73527, -73.89], 12);

			// TODO make this API key a Server environment variable
			L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
		    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
		    maxZoom: 18,
		    id: 'eozelius77.j4hekake',
		    accessToken: 'pk.eyJ1IjoiZW96ZWxpdXM3NyIsImEiOiJkQmhDSl8wIn0.MzOmrtAL3uTNmVfLmEZ57g'
		}).addTo(map);
	</script>
</div><!-- End Map -->

<div class=""></div>