<% if !logged_in? %>
  <div class="readme-container">
    <h4>Welcome to driftMap</h4>
    <p>driftMap is a backpacking and travelling platform that allows you to share a map of your journeys, adventures and wild experiences. </p>
    <%= link_to signup_path do %>
    	<button class="normal">Sign up</button>
    <% end %>

    <%= link_to login_path do %>
    	<button class="normal">Log in</button>
    <% end %>
  </div>
<% end %>

<!-- todo - delete this -->
<style type="text/css">
    #view-driftmap-wizard .toggle-wizard {
        top: 55%;
    }

    @media (max-width: 480px){
        #view-driftmap-wizard .toggle-wizard {
            top: 66%;
        }
    }
</style>

<div class="map-container">
    <%= render 'driftmap/view_driftmap_wizard' %>
    
	<div id='map'></div>
	
	<%= render 'driftmap/init_driftmap' %>
</div><!-- End Map -->
