<% if !logged_in? %>
  <div class="container">
  <div class="readme-container">
    <h4>Welcome to driftMap</h4>
    <p>driftMap is a backpacking and travelling platform that allows you to share a map of your journeys, adventures and wild experiences. </p>
    <%= link_to signup_path do %>
      <button class="normal">Sign up</button>
    <% end %>

    <%= link_to login_path do %>
      <button class="normal">Log in</button>
    <% end %>
  </div>
  </div>
<% end %>

<div id="home-page" class="container">
  <div class="master-map">
    <!-- LEGEND -->
    <div class="master-legend">
      <div class="legend-container">
        <% @journeys.each do |journey| %>
          <div class="legend-journey">
            <h4 class="waypoint-title"><%= journey.title %></h4>
            <% journey.waypoints.each do |wp| %>
              <p><%= wp.title %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- MAP -->
    <div class="map-container">
      <div id='map'></div>
    </div>
  </div>

  <div id="dm-legend" class="col-lg-5 col-md-5 col-sm-5 col-xs-12">

    <div id="accordian-container">
      <h5 class="waypoints-title">journeys</h5>
      <div id="waypt-accord" class="panel-group markers-container wizard-step" role="tablist" aria-multiselectable="true"></div>
    </div>
  </div>
</div>