<%= provide :title, "photo" %>

<div class="container">
	<div class="col-lg-4">
		<img src="http://www.w3schools.com/angular/pic_angular.jpg">
	</div>

	<div class="col-lg-4">
		<img src="http://www.w3schools.com/angular/pic_angular.jpg">
	</div>

	<div class="col-lg-4">
		<img src="http://www.w3schools.com/angular/pic_angular.jpg">
		<i class="fa fa-2x fa-spin fa-cogs"></i>
	</div>

</div>