var DriftMapTimeline = function(){
	// Private Variables
	var indexer = []
	var currentTimeline
	var currentSlide

	// Private Methods
	function focusTimeline(tl, slide){

	}

	function renderTimeline(dom, tlData, opts){

	}

	function revealSlide(id){
		var foobar = true
		setTimeout(function(){
			if(foobar){
				foobar = false
				$('#'+id+ ' .carousel').removeClass('hidden')
			}
		}, 500);
	}

	return {
		// public variables

		// public methods
		init: function(routes){
			/*
			{
				route: [{ 
					id: 51, 
					description: "My gonzo adventure into Colombia in…", 
					title: "2015 - Colombia", 
					post_id: 1, 
					created_at: "2016-12-03T20:05:51.694Z", 
					updated_at: "2016-12-03T20:05:51.694Z", 
					coverphoto: {	url: 'assets/asfd.png' },
					timeline: < timelineJS3 data >
				}, {}, ...],
				
				waypoints: [{ 
					id: 10, 
					title: "Sunnyside Queens", 
					body: "Queens NY.  From Flushing to Astori…", 
					x: 40.743, 
					y: -73.922, 
					post_id: 1, 
					route_id: 51, 
					date:  { year: 2016, month: 11, day: 23 } 
				}, {}, ...]
			}
			*/

			for(var x in routes){
				var r = routes[x].route
				var wps = routes[x].waypoints
				var coverphoto = typeof r.coverphoto !== 'undefined' ? r.coverphoto.url : '<%= image_path("switzerland10.JPG").html_safe %>';
				var tlEvents = []

				for(var y in wps){
					var wp = wps[y]

					tlEvents.push({
						media: {
							url: '',
							caption: ''
						},
						start_date: {
							year:  wp.date.year,
							month: wp.date.month,
							day: 	 wp.date.day
						},
						text: {
							headline: wp.title,
							text:  		wp.body
						},
						unique_id: wp.id.toString()
					});
				} // end r waypoints;

				var tlData = {
					title: {
						media: {
							url: coverphoto,
							caption: ''
						},
						text: {
							headline: '',
							text: ''
						}
					},
					events: tlEvents
				}

				var tlOpts = { timenav_height: 180 }
				
				indexer.push({
					id: r.id,
					title: r.title,
					description: r.description,
					post_id: r.post_id,
					coverphoto: r.coverphoto,
					created_at: r.created_at,
					updated_at: r.updated_at,
					timeline: new TL.Timeline('dm-timeline-'+r.id, tlData, tlOpts)
				})

				/* WayPoints Carousel */
				for(var i in wps){
					var wp = wps[i]
					var c

					if(wp.images.length > 0){
						// Carousel Wrapper
						c = '<div id="images-carousel-'+ i +'" class=" carousel slide" data-ride="carousel"><div class="carousel-inner" role="listbox">';

						// Carousel slides/images
						for(var j in wp.images) { c += '<div class="item"><img src="' + wp.images[j].image.url + '" /></div>' }

						// Carousel indicators
						if(wp.images.length > 1) { c +=  '<a class="left carousel-control" href="#images-carousel-'+ i +'" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="right carousel-control" href="#images-carousel-'+ i +'" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="sr-only">Next</span></a></div></div>' }
					} else {
						c = 'no images'
					}

				  $('#'+ wp.id).empty()
				  $('#'+ wp.id).html(c)
				}

				$('.carousel .item:first-child').addClass('active');
				/* end WayPoints Carousel */
				
				// Hide all Timelines except the first
				var foobar = true
				setTimeout(function(){
					if(foobar){
						foobar = false	
						$('.route-content').not('.route-content:first-child').addClass('hidden') // after all timelines have been initialized/render, hide all except first.
					}
				}, 500);
				/* End Initialization */

				/* Timeline Event listeners */
				indexer[x].timeline.on('change', function(data){
					var id = data.unique_id
					var wp = DriftMapLeaflet.getWayPoint(id);

					if(wp){
						/* Accordian */
						DriftMapAccordian.focusWayPoint(id);

						/* Leaflet */
						DriftMapLeaflet.focusWayPoint(id);

						// update title and description
						$('.route-content .route-header:visible').html(wp.title);
						$('.route-content .route-description:visible').html(wp.body);
					} else {
						// todo: update title and description to route title
					}
				});
				/* End timeline event listeners */
			}
			window.timelineIndexer = indexer
		},

		getCurrentTimeline: function(){

		},

		getCurrentSlide: function(){

		},

		getRoute: function(id){
			for(var i in indexer)
				if(id == indexer[i].id)
					return indexer[i]
			return false;
		},

		/* Setters */
		focusRoute: function(r_id, wp_id, reset_route){
			$('.route-content').addClass('hidden')
			$('.route-content[data-routecontent="'+ r_id +'"]').removeClass('hidden')

			var r = DriftMapTimeline.getRoute(r_id)
			if (r){ r.timeline.goTo(wp_id) }

			if(reset_route){
				$('.route-content .route-header:visible').html(r.title);
				$('.route-content .route-description:visible').html(r.description);
			} else {
				var wp = DriftMapLeaflet.getWayPoint(wp_id)
				if (wp){
					console.log("wp is defined, updating title/description")

					// update title and description
					$('.route-content .route-header:visible').html(wp.title);
					$('.route-content .route-description:visible').html(wp.body);
				}							
			}
		}
	}
}();