function init_map(dom, driftmap, blips){
	try {
		var x = driftmap.init_x || 40.735;
		var y = driftmap.init_y || -73.890;
		var z = driftmap.init_zoom || 12;
		var m = window.map = L.map(dom).setView([x, y], z);

		// TODO make this API key a Server environment variable
		L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', 
			{	attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
	    	maxZoom: 18,
	    	id: 'eozelius77.j4hekake',
	    	accessToken: 'pk.eyJ1IjoiZW96ZWxpdXM3NyIsImEiOiJkQmhDSl8wIn0.MzOmrtAL3uTNmVfLmEZ57g'
			}).addTo(m);
	
		// Add Markers to Map
		for(var i in blips){
			var popupOptions = {
				offset: [210, 30],
				minWidth: 400,
				className: 'blip-popup'
			}

			var lat = xss_trim(blips[i].x);
			var lng = xss_trim(blips[i].y);
			var title = xss_trim(blips[i].title);
			var body = xss_trim(blips[i].body);

			console.log("x: " + lat + '\ny: ' + lng + '\ntitle: ' + title + '\nbody: ' + body);
			// todo xss protect
			var popupContent =  '<div class="marker-content-wrapper">' + 
														'<p class="instructions">'+ title +'</p>' + 
														'<p>'+ body +'</p>' + 
													'</div>';

			var blipMarker = L.marker([lat, lng]).addTo(m);
			var blipPopup  = L.popup(popupOptions).setLatLng([lat, lng]).setContent(popupContent);
			blipMarker.bindPopup(blipPopup);

		}

	} catch(e) {
		console.log('error: ' + e);
		flash_now('danger', 'whoops, something went wrong.  Please try again.')
		window.ethanerror = e;

		var imgSrc = "<%= asset_path('globe_0.jpg') %>"
		var errorMap = '<img class="error-map" src="'+ imgSrc +'">';
		$(dom).prepend(errorMap);
	}	
}

function flash_now(type, message){
	console.log("type: " + type + "\n message: " + message);

	var flash_msg = '<div style="margin:0; width:100%" class="flash-messages flash-'+ type +' col-lg-12 col-md-12 col-sm-12 col-xs-12"><p class="flash">'+ message +'</p></div>';
	$('.application-container').prepend(flash_msg).removeClass('hidden');
}

function xss_trim(str){
	return String(str)
	.replace(/&/g, '&amp;')
	.replace(/"/g, '&quot;')
	.replace(/'/g, '&#39;')
	.replace(/</g, '&lt;')
	.replace(/>/g, '&gt;')
	.replace('/', '&#x2F')
	.trim();
}
