function init_map(dom, driftmap, blips){
	L.Icon.Default.imagePath = '<%= (Rails.root + "/assets/leaflet").to_s %>';
	try {
		var x = driftmap.init_x || 40.735;
		var y = driftmap.init_y || -73.890;
		var z = driftmap.init_zoom || 12;
		var m = window.map = L.map(dom).setView([x, y], z);

		// TODO make this API key a Server environment variable
		L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', 
			{	attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
	    	maxZoom: 18,
	    	id: 'eozelius77.j4hekake',
	    	accessToken: "<%= ENV['MAPBOX_SECRET_KEY'] %>"
			}).addTo(m);

		// Add blips to Map
		if(blips.length > 0){
			var blipsIndexer = {}
			for(var i in blips){
				var id 		= xss_trim(blips[i].id); 
				var lat 	= xss_trim(blips[i].x);
				var lng 	= xss_trim(blips[i].y);
				var body 	= blips[i].body;
				var title = blips[i].title;
				var blip_images_carousel = '';

				if(blips[i].images.length > 0) {
					blip_images_carousel += '<div class="blip-images">' +
																		//'<div id="popup-carousel" class="carousel slide" data-ride="carousel">' + 
																			'<div id="popup-carousel" class="" data-ride="carousel">' + 
				  														'<div class="carousel-inner" role="listbox">';

					for(var x in blips[i].images)
						blip_images_carousel += '<div class="item">' + blips[i].images[x] + '</div>';

					blip_images_carousel += '</div>';
				}

				var popupOptions = {
					className: 'blip-popup'
				}
				var popupContent =  '<div class="blip-popup" data-blip="'+ id +'">' + 
															'<div class="blip-text">' +
																'<a href="/blips/'+ id +'">' +
																	'<h4 class="blip-popup-title instructions">'+ title +'</h4>' + 
																	'<span> - more</span>' +
																'</a>' +
																'<p class="blip-popup-body">'+ body +'</p>' + 
															'</div>' +
																blip_images_carousel +
															'</div></div>';



				window.blipMarker = L.marker([lat, lng]).addTo(m);
				var blipPopup  = L.popup(popupOptions).setLatLng([lat, lng]).setContent(popupContent);
				blipMarker.bindPopup(blipPopup);
				
				blipsIndexer[blips[i].id.toString()] = {
					marker: window.blipMarker,
					popup: blipPopup
				}
			}
			window.blipsIndexer = blipsIndexer;
			var maroonMarker = L.icon({ 
			  iconUrl: '<%= (Rails.root + "/assets/leaflet/marker-maroon-icon.png").to_s %>',
			  shadowUrl: '<%= (Rails.root + "/assets/leaflet/marker-shadow.png").to_s %>',
			  popupAnchor:  [0, -35]
			});

			window.blipsIndexer[blips[0].id.toString()].popup.openOn(map);
			window.blipsIndexer[blips[0].id.toString()].marker.setIcon(maroonMarker);

		} // end Markers

/*		// Add routes to Map
		if(routes.length > 0){
			for(var i in routes){ 
				var title = xss_trim(routes[i].title);
				var description = xss_trim(routes[i].description);

				if(routes[i].routePoints.length > 0){

					var prevLat = xss_trim(routes[i].routePoints[0].x);
					var prevLng = xss_trim(routes[i].routePoints[0].y);
					var prevPt = L.latLng(prevLat, prevLng);

					for(var j in routes[i].routePoints){
						var lat 			= xss_trim(routes[i].routePoints[j].x);
						var lng 			= xss_trim(routes[i].routePoints[j].y);
						var order 		= xss_trim(routes[i].routePoints[j].order);
						var currentPt = L.latLng(lat, lng);

						if(j > 0){
							var routeLine  = L.polyline([prevPt, currentPt]).addTo(m);
							prevPt = currentPt;							
						}
					}					
				}
			}
		}*/

	} catch(e) {
		console.log('error: ' + e);
		flash_now('danger', 'whoops, something went wrong.  Please try again.')
		window.DMInitError = e;
	}	
}

function flash_now(type, message){
	console.log("type: " + type + "\n message: " + message);

	var flash_msg = '<div style="margin:0; width:100%" class="flash-messages flash-'+ type +' col-lg-12 col-md-12 col-sm-12 col-xs-12"><p class="flash">'+ message +'</p></div>';
	$('.application-container').prepend(flash_msg).removeClass('hidden');
}

function xss_trim(str){
	return String(str)
	.replace(/&/g, '&amp;')
	.replace(/"/g, '&quot;')
	.replace(/'/g, '&#39;')
	.replace(/</g, '&lt;')
	.replace(/>/g, '&gt;')
	.replace('/', '&#x2F');
}
