<% if @post.errors.any? %>
  <div class="errors">
    <p class="title">whoops</p>
    <ul class="errors-list">
      <% @post.errors.full_messages.each do |msg| %>
        <li><p><%= msg %></p></li>
      <% end %>
    </ul>
  </div>  
<% end %>

<div id="edit-driftmap-container">
  <%= render 'driftmap/edit_driftmap_wizard' %>

  <div id="map"></div>

  <%= render 'driftmap/init_driftmap' %>

  <span class="save-zoom normal hidden">save default view</span>
  <span class="save-route normal hidden">save route</span>
  <span class="save-wizard normal bottom">save driftMap</span>

  <script type="text/javascript">
    var routeIndex = -1;
    var blipIndex = -1;
    
    // Routes
    // Step 1 - [new route] Create new Route user clicks 'create new journey' button
    $('.create-new-route').on('click', function(){
      $('.save-wizard').addClass('hidden');
      $(this).addClass('hidden');
      routeIndex++;
      $('.wizard-container').removeClass('active');
      $('#map').css('top', '0');
      $('.wizard-container, .save-route').toggleClass('hidden');
      routePoints = [];
      routePointIndex = -1;

      // Step 3... [create route_point] - User clicks on map to create a waypoint
      window.map.off('click').on('click', function(e){
        var lat = e.latlng.lat.toFixed(7);
        var lng = e.latlng.lng.toFixed(7);
        var newPoint  = L.latLng(lat, lng);
        routePoints.push(newPoint);
        routePointIndex++;

        if(routePointIndex == 0) {
          new_blip(window.map, newPoint, ++blipIndex, true);
          $('.blip-file, #add-new-blip').remove();

          // Step 4 - Save Blip
          $('.route-init-blip').on('click', function(){
            var title = xss_trim($('.blip-title').val());
            var description = xss_trim($('.blip-body').val());
            post_id = $('#post_post_id').val();

            route_id = create_route(title, description, true);

            blip_images = undefined;
            if(addedImages)
              blip_images = $('.blip-file');

            create_blip(newPoint, title, description, post_id, true, blip_images);

            $('.leaflet-popup-close-button')[0].click();
          });
        } else {
          create_routePoint(window.map, routePoints, ++routePointIndex, route_id, post_id);
        }

      });

      // Step 5 - User completed all steps, ready to save
      // Save route
      $('.save-route').on('click', function(){
        $('.save-wizard').removeClass('hidden');
        $('#map').css('top', '-310px')
        window.map.off('click');
        $('.wizard-container, .save-route').toggleClass('hidden');
        var new_route = '<li class="route">' + 
                          '<p class="route-title" data-route="'+ routeIndex +'">' + 
                            $('.new-route-inputs[data-route="'+ routeIndex +'"] .route-title-edit input[type="text"]').val() + 
                          '</p>' +
                          '<div class="route-info" data-route="'+ routeIndex +'" style="display:none;">' + 
                            '<p class="route-body" data-route="'+ routeIndex +'">' + 
                              $('.new-route-inputs[data-route="'+ routeIndex +'"] .route-body-edit textarea').val() +
                            '</p>' + 
                          '</div>' +
                        '</li>';
        $('.wizard-routes ul').append(new_route);
        $('.wizard-routes input, .wizard-routes textarea').addClass('hidden');
        $('.create-new-route').removeClass('hidden');
        alert('journey has been created and saved');
        $('.driftmap-form-container form').submit();
      });
    });

    // Standalone Blips
    // Step 1 - User wants to create a standalone blip
    $('.create-blip').on('click', function(){
      $('.wizard-container').removeClass('active');
      $('#map').css('top', '0');
      $('.wizard-container, .new-blip').toggleClass('hidden');

      // Step 2 - Plot standalone blip on map
      window.map.off('click').on('click', function(e){
        var lat = e.latlng.lat.toFixed(7);
        var lng = e.latlng.lng.toFixed(7);

        var blipMarker = L.marker([lat, lng]).addTo(window.map);

        if(confirm('create blip here?')){
          window.location = '/blips/new?x=' + lat + '&y=' + lng;
        } else {
          blipMarker.remove();
        }
      });
    });

    // Title/Default Location
    $('.update-zoom').on('click', function(){
      $('#map').css('top', '0');
      $('.wizard-container, .save-zoom').toggleClass('hidden');
    });

    // save location/zoom
    $('.save-zoom').on('click', function(){
      $('.wizard-container, .save-zoom').toggleClass('hidden');
      $('#map').css('top', '-310px');
      alert('location and zoom saved.');
      var init_x = window.map.getCenter().lat;
      var init_y = window.map.getCenter().lng;
      var zoom   = window.map.getZoom();
    
      // Post/DriftMap attrs
      $('#post_init_x').val(init_x);
      $('#post_init_y').val(init_y);
      $('#post_init_zoom').val(zoom);
      $('.driftmap-form-container form').submit();
    });

    /* Edit Driftmap */
    // Edit Route
    $('.edit-route').on('click', function(){
      var index = $(this).data('route');

      var oldTitle = $.trim($('.route-title[data-route="'+ index +'"]').text());
      var oldBody = $.trim($('.route-body[data-route="'+ index +'"]').text());
      var editTitleInput =    '<p class="route-title-edit" data-route="'+ index +'">' + 
                                '<input type="text" name="route['+ index +'][title]" value="'+ oldTitle +'"/>' +
                              '</p>';
      var editBodyTextarea =  '<p class="route-body-edit" data-route="'+ index +'">' +
                                '<textarea name="route['+ index +'][description]">'+ oldBody +'</textarea>' +
                              '</p>';

      $('.route-title[data-route="'+ index +'"]').after(editTitleInput);
      $('.route-body[data-route="'+ index +'"]').after(editBodyTextarea);

      selector = '.route-title[data-route="'+ index +'"], ' +
                 '.route-body[data-route="'+ index +'"], ' +
                 '.create-new-route, ' +
                 '.del-route, ' +
                 '.driftmap-form-container .save-wizard, ' + 
                 '.edit-save-route[data-route="'+ index +'"]';

      $(selector).toggleClass('hidden');
    });

    // Save an update to a route
    $('.edit-save-route').on('click', function(){
      var index = $(this).data('route');
      var title = xss_trim($('.route-title-edit[data-route="'+ index +'"] input').val());
      var body = xss_trim($('.route-body-edit[data-route="'+ index +'"] textarea').val());

      $.ajax({
        url: '/update_route',
        type: 'POST',
        dataType: 'JSON',
        data: {
          id: index,
          title: title,
          body: body
        },
        complete: function(response){
          r = response.responseJSON;
          window.r = r;

          if(r.status == 200){
            var remove_selector = '.route-title-edit[data-route="'+ index +'"] input, ' + 
                                  '.route-body-edit[data-route="'+ index +'"] textarea, ' + 
                                  '.edit-route[data-route="'+ index +'"]';
            $(remove_selector).remove();
            $(selector).toggleClass('hidden');

            $('.route-title[data-route="'+ index +'"]').html(title);
            $('.route-body[data-route="'+ index +'"]').html(body);
            alert(r.title + " has been successfully updated.");
          } else {
            alert('Whoops, something went a little haywire, please refresh your browser and try again.');
          }
        }
      });
    });

    /* Misc Form/wizard actions */
    // toggle wizard
    $('.toggle-wizard').on('click', function(){
      if($('.wizard-container').hasClass('active')){
        $('.wizard-container').removeClass('active');
      } else {
        $('.wizard-container').addClass('active');
      }
    });

    // Change menu tab
    $('.tabs-menu li').on('click', function(){
      $('.active-tab').removeClass('active-tab');
      var tab = $(this).data('step');
      $(this).addClass('active-tab');

      $('.wizard-step').addClass('hidden');
      $('.'+ tab + '-container').removeClass('hidden');    
    });

    // Submit form
    $('.save-wizard').on('click', function(){
      $('.driftmap-form-container form').submit();
    });

    // reveal Route info
    $('.route-title').on('click', function(){
      active = $(this).hasClass('active');
      route_index = $(this).data('route');

      if(active){
        $('.route-info[data-route="'+ route_index +'"]').slideUp(700);
        $(this).removeClass('active');
      } else {
        $('.route-info[data-route="'+ route_index +'"]').slideDown(700);
        $(this).addClass('active');
      }
    });

    // Cannot upload images larger than 3M
    addedImages = false;
    $(document).on('change', 'input[type="file"]', function() {
      addedImages = true;
    });

  </script>
  <style type="text/css">
    .edit-blip {
      display: inline-block !important;
    }
    .edit-blip button {
      margin: -10px 0 0 60px;
    }
    span.save-wizard.bottom {
       float: right;
       margin: -200px 45px 45px;
       margin: -290px 45px 45px;
    }
    .leaflet-popup-content {
      padding: 2% 0 15%;
    }
  </style>
</div>