<h3 class="page-title">say something.</h3>

<% if @post.errors.any? %>
	<div class="errors">
		<p class="p-title">Whoops</p>
		<ul class="errors-list">
			<% @post.errors.full_messages.each do |msg| %>
				<li><p><%= msg %></p></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= render 'form' %>
