<h4>Create a Post yayayayaay!!!</h4>

<% if @post.errors.any? %>
	<h5>Whoops
		<% @post.errors.full_messages.each do |msg| %>
		<ul>
			<%= content_tag :li, msg %>
		</ul>
	</h5>
	<% end %>
<% end %>

<%= render 'post_form' %>