<div class="container" id="content_creation">
  <h4 class="waypoint-title" style="color:#C2D9EB;font-size:2.5em;margin: 3% 15% 4%;">Tell a Story about <%= Waypoint.find(params[:waypoint_id]).title.html_safe.capitalize %></h4>

  <!-- PHOTOS/VIDEOS -->
  <div class="cc-wrapper col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <%= link_to new_waypoint_image_path(journey_id: params[:journey_id], waypoint_id: params[:waypoint_id]) do %>
      <p>Gallery</p>
      <div class="cc content-photo">
        <i class="fa fa-camera"></i>
      </div>
    <% end %>
  </div>

  <!-- FRIENDS -->
  <div class="cc-wrapper col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <%= link_to new_friend_path(journey_id: params[:journey_id], waypoint_id: params[:waypoint_id]) do %>
      <p>Friends</p>
      <div class="cc content-friend">
        <i class="fa fa-user-circle"></i>
      </div>
    <% end %>
  </div>

  <!-- TREKS -->
  <div class="cc-wrapper col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <p>Treks</p>
    <div class="cc content-trek">
      <i class="fa fa-compass"></i>
    </div>
  </div>

  <!-- ESSAYS -->
  <div class="cc-wrapper col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <p>Essays</p>
    <div class="cc content-essay">
      <i class="fa fa-pencil-square-o"></i>
    </div>
  </div>

  <div class="col-xs-12">
    <%= link_to(controller: 'waypoints', action: 'edit', id: params[:waypoint_id]) do %>
      <button class="normal" style="margin-top: 30px">back</button>
    <% end %>
  </div>
</div>
