<!-- Routes -->
<% @routes.each_with_index do |route, index| %>
	<div class="route-content" data-routecontent="<%= route.id %>">
		<div class="route-meta">
			<h4 class="route-header"><%= route.title %></h4>
			<p class="route-description"><%= route.description %></p>
		</div>
		<div id='dm-timeline-<%= route.id %>' style="width: 100%; height: 600px"></div>
	</div>
<% end %>

<script type="text/javascript">
	$(function(){
		// This script will hide all timelines except the first, since if the timeline's target is invisible at init, it will not init correctly 
		var foo = true;

		setTimeout(function(){
			if(foo){
				foo = false;
				$('.tl-text').addClass('hidden');
				$('.tl-media').css('border-top', '0');
				$('.route-content').addClass('hidden');
				$('.route-content').first().removeClass('hidden');			
			}
		}, 100);
	});
</script>