<!-- Start new Adventure -->
<div class="start-new">
  <%= image_tag 'switzerland10.JPG' %>

  <% if user_is_home(@user) %>
    <div class="start-text">
      <%= link_to new_route_path do %>
        <p>begin an new adventure now</p>
      <% end %>
    </div>
  <% else %>
    <div class="start-text">
      <p>
        <%= @user.name %> has not added any content yet.
      </p>
    </div>
  <% end %>
</div>