.edit_blip p label {
  color: #C2D9EB;
}

form.edit_blip, 
form.new_blip,
form.new_post,
form.edit_post,
#journey form {
	input[type="text"] {
		height: 2em;
		margin-top:24px;
	}

	textarea {
		margin: 0 0 7% 3%;
	}

	input[type="text"],
	textarea {
		padding: 4px;
		border-radius: 0;
		background: #fff;
		border: 1px solid #ccc;
		
	}

	h4.waypoint-title{
		width: -moz-fit-content;
	}

	#waypoint_title {
		margin: 3% 0 8% 3%;
	}
}