.edit_blip p label {
  color: #C2D9EB;
}

form.edit_blip, 
form.new_blip,
form.new_post,
form.edit_post {
	input[type="text"] {
		height: 2em;
		margin-top:24px;
	}

	textarea {
		margin: 0 0 7% 3%;
	}


	input[type="text"],
	textarea {
		padding: 4px;
		border-radius: 0;
		background: #fff;
		border: 1px solid #ccc;
		
	}

	h4.blip-title{
		width: -moz-fit-content;
	}

	#blip_title {
		margin: 3% 0 8% 3%;
	}

	button[name="commit"] {
		float: right;
		margin: 0 17% 0 0;
	}

	span.cancel {
		float: left;
		margin: 0 0 0 3%;
	}

}