/* EDIT */
.edit_driftmap {
  .color-schemes {
    p {
      margin-top: -2px;
      display: inline;
      float:left;
    }

    input[type="radio"] {
      float:left; 
      margin-top: 0;
    }
  }
}

/* popup */
.marker-box a.leaflet-popup-close-button {
  padding: 15px 30px 0 0;
}

#map {  
  .leaflet-popup-content-wrapper {
    margin: 0;
    width: 302px;
    border-radius: 0;
    overflow: hidden;

    p.waypoint-popup-body {
      font-size: 1.3em;
      max-height: 260px;
      overflow: hidden;
    }
  }
}

@media (min-width: 480px) and (max-width: 767px){
  #map {
    .leaflet-popup-content-wrapper {
      
    }
    .leaflet-popup-content {
    }
    .waypoint-popup-body {
    }
  }
}