/* Driftmap form */
#post-form-container,
.edit_post,
.new_post {
  input[type="text"],
  textarea {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #ccc;
    width: 96%;
  }
  textarea {
    height: 130px;
    position: relative;
    bottom: 0;
  }
}

span.save-wizard,
span.next-step {
  cursor: pointer;
}

p.instructions-title {
  margin-bottom: 7px;
  color: #ADCDDB;
  font-size: 17px !important;
  height:30px;
}

.wizard-step {
  span.normal {
    margin: 4%;
  }
}

#edit-driftmap,
#profile-map {
  width: 90%;
  display: block;
  margin: 0 auto 30px;
  height: 575px;
  margin-bottom: 100px;
}
/* new menu */
.wizard-container {
  width: 260px;
  height: 333px;
  position: absolute;
  z-index: 999;
  background-color: #EFEFEF;
  padding-bottom: 3%;
  border: 1px solid #ccc;
  border-radius: 3px;
  bottom: -7%;
  left: 10%;

}

#edit-driftmap-container .toggle-wizard {
  width: 47px;
  height: 40px;
  position: absolute;
  z-index: 1; 
  right: 0;
  top: 139px;
}

ul.tabs-menu {
  width: 70px;
  height: 240px;
  background-color: #EFEFEF;
}

ul.tabs-menu li {
  height: 60px;
  width: 74px;
  line-height: 60px;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #ddd;
  background-color: #EFEFEF;
  padding: 0;
  text-align: center;
  border-right: 3px solid #ADCDDB;
}

ul li.active-tab {
  background-color: #f5f5f5;
  border: 3px solid #ADCDDB;
  line-height: 58px;
}

.driftmap-form-container {
  width: 184px;
  padding: 3%;
  position: absolute;
  top: 0;
  right: 0;
}

.wizard-step {
  p {
    font-size: 1em;
  }
}

/* map attributes */

/*li.wizard-step {
  background-color: #E9EEF0;
  cursor: pointer;
  height: 50px;
  border: 1px solid #552727; 
  border-bottom: none; 
  display: inline-block;
  width: 105px;
  margin: 0;
  border-radius: 5px 5px 0 0;
}*/

/*li.wizard-step p {
  font-size: 1em;
  line-height: 50px;
  text-align: center; 
}*/

/*p.wizard-step-title {
  margin: 20px 0 18px 10px;
  color: #552727;
}*/

/*li.wizard-step div {
  padding: 0 4%;
  height: 100px;
}*/

/* Marker */
.marker-box {
  width: 600px;
}

.marker-box .leaflet-popup-content-wrapper {
  height: 400px;
  border-radius: 0;
  padding: 3%;
}

.marker-box a.leaflet-popup-close-button {
  padding: 15px 30px 0 0;
}

.marker-box .leaflet-popup-tip {
  display: none;
}

/* popups */
.leaflet-popup-content{
  min-width: 600px;
}

/* Blips */
div.blip-popup {
  width: 710px;
  max-height: 400px;
}

.blip-images {
  display: inline-block;
  width: 400px;
  height: 285px;
}


.blip-text {
  display: inline-block;
  width: 240px;
  float: left;
}

/* unslider */
.unslider {
  overflow: hidden; 
}

.unslider-arrow {
  position: relative;
}

.unslider-arrow.prev {
  left: -85px;
}

@media (max-width: 480px){
  .application-container {
    padding: 0 3%;
  }

  .map-container #map {
    width: 100%;
  }

  .leaflet-popup-content-wrapper {
    min-width: 0;
    width: 239px;
  }
  .leaflet-popup-content {
    width: 229px !important;
    min-width: 0;
    margin: 0 5px;
  }
  div.blip-popup {
    width: 229px;
  }
  .blip-text{
    width: 220px;
    height: 200px;
    overflow: scroll;
    display: block;
    float: none;
  }
  .blip-images {
    width:230px; 
    height: auto;
  }
  .unslider img {
    width: 390px;
    height: 140px;
    margin: 0 auto;



    display: block;
  }
}
