/* :new */
.create-map-container {
	height: 650px;
}

.create-map-container .create-map-title {
	margin: 10px 0 15px 0;
}

.create-map-container .create-map-title input {
	margin: 0 0 5px 0;
}

.next-container {
	width: 250px;
	margin: 4%;
}

.create-map-container button.next-step {
	display: inline;
	font-size: 1.1em !important;
	position: relative;
	top: 53px;
	float: left;
	margin: 0;
}

/* instructions */
div.instructions-container {
	margin: 1% 1% 1% 3%;
}

p.instructions {
	font-size: 1.75em;
	color: #ADCDDB;
}

#driftmap-body {
	height: 60px;
}

.step {
	height: 100px;
}

.create-step-2 {
	height: 130px;
}

