@import 'colors';

#accordian-container {
	cursor: pointer;

	li {
		text-align:left;

		p.waypoint-title {
			display: inline-block;
			width: 40%;
		}

		.content-icons-container {
			float: right;

			i.fa {
				color: $maroon;
				margin: 3px 7px 0 0;

				opacity: .8;
			}
			i.fa:hover {
				opacity: 1;
			}
		}

	}

	.panel-collapse.collapse.in {
		min-height: 200px;
	}

	#waypt-accord,
	.panel,
	.panel-default,
	.panel-group .panel + .panel {
		margin: 0;
		border-radius: 0;
	}

	h4.panel-title {
		font-size: 1.4em;
		color: #552727;
		font-weight: 400;
	}
}