/* Driftmap */
/* forms */
.create-map-container span.next-step {
  display: inline;
  font-size: 1.1em !important;
  position: relative;
  top: 53px;
  float: left;
  margin: 0;
}

.wizard-step {
  display: none;
}

.active-step {
  display: block;
}

.post-form p {
  margin: 25px 0;
  text-align: left;
}

span.save-wizard,
span.next-step {
  cursor: pointer;
}

/* instructions */
div.instructions-container {
  margin: 1% 1% 1% 3%;
}

p.instructions {
  font-size: 1.75em;
  color: #ADCDDB;
  margin-bottom: 10px;
}

#driftmap-body {
  height: 60px;
}

.step {
  height: 100px;
}

.create-step-2 {
  height: 130px;
}

p.instructions-title {
  margin-bottom: 7px;
  color: #ADCDDB;
}