/* TimeMapper */
.tl-slide-content {
	margin: 0 auto;
}

.tl-slidenav-next,
.tl-slidenav-previous {
	top: 15px !important;
}

.tl-slider-container-mask {
	margin-top: 67px;
}

#waypt-accord .li-waypoint-selected {
	font-weight: 600;
	color: #78acd3 !important;
}

.carousel-control {
	color: #fff;
	opacity: .8;
	background: none;
	background-image: none !important;
}

.dm-timeline {
	overflow: visible;

	.tl-storyslider {
		overflow: visible;
	}

	.tl-slidenav-icon {
		position: relative;
		top: 390px;
	}

	.carousel-control {
		color: #fff;
		opacity: .8;
		background: none;
		background-image: none;

		i {
			position: absolute;
			top: 44%;
		}

		i.fa-angle-right {
			margin-right: -15px;
		}

		i.fa-angle-left {
			margin-left: -15px;
		}
	}

	/* Carousel */
	.item{

		img {
			width: 95%;
			height: auto;
			margin: 0 auto;
			display: block;
			vertical-align: middle ;
		}
	}
}

.journey-header {
	margin: 0 0 4%;
}

.journey-description {
	height: 180px;
	overflow-y: scroll;
	margin: 4% 4% 1%;
	color: #C2D9EB;
	text-align: left;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	padding: 2% 0 0 2%;
}

.journey-meta {
	margin-bottom: 5%;
}

/* timeline coverphotos */
body .tl-media .tl-media-content-container .tl-media-content img {
	width: 555px !important;
	max-width: none;
	display: block;
	margin: 0 auto;
}

@media (max-width: 1200px){
	body .tl-media .tl-media-content-container .tl-media-content img {
		width: 130% !important;
	}
}

@media (max-width: 992px){
	body .tl-media .tl-media-content-container .tl-media-content img {
		width: 148% !important;
	}
}

@media (max-width: 767px){
	body .tl-media .tl-media-content-container .tl-media-content img {
		width: 121% !important;
	}

	/* Timeline container */
	.tl-storyslider {
		height: 72% !important;
	}

	.journey-description {
		margin:4% 5% 4%; 
		padding: 4% 6%;
		border-top: 3px solid #ccc;
		border-bottom: 3px solid #ccc;
	}
}

@media (max-width: 600px){
	/* Timeline container */
	.tl-storyslider {
		height: 57% !important;

	}
}



@media (max-width: 480px){
	.journey-content {
		.tl-timeline.tl-skinny.tl-layout-portrait {
			height: auto !important;
			margin-bottom: 30px;
		}

		.tl-slide-content-container .tl-slide-content{
			padding: 0 !important;
			width: 100% !important;
		}
 		.tl-slide-content-container .tl-media {
			max-width: 100% !important;
		}
		.tl-slider-container {
			height: 70% !important;
		}
		.tl-timeline .tl-storyslider{
			height: 270px !important;
			overflow: hidden;
		}
		.tl-menubar {
			display: none;
		}
		.journey-header {
			height: 110px;
			overflow: hidden;
			
		}
	}

	.tl-slidenav-icon {
		position: relative;
		top: 5px;
	}
}