/* Driftmap form */
.edit_post,
.new_post {

  margin: 4% 3%;
  padding: 1% 0;


  input[type="text"],
  textarea {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #ccc;
    width: 96%;
  }
  textarea {
    height: 130px;
    position: relative;
    padding: 3%;
    bottom: 0;
    margin-left: 0 !important;
  }
}

.driftmap-form-container {
  width: 184px;
  padding: 3%;
  position: absolute;
  top: 0;
  right: 0;
}

.wizard-step {
  max-height: 230px;
  overflow-y: scroll;
  overflow-x: hidden; 

  /* description */
  .route-info,
  .blip-info {
    display: none;
  }
  
  .wizard-routes,
  .wizard-markers {
    text-align: right;
    ul {
      padding: 3% 0;
    }

    li {
      border-bottom: 1px solid #ccc;
      padding: 3% 5%;
      text-align: left;
      cursor: pointer;

      .route-body {
        color: #000;
        cursor: initial;
        padding: 3%;
      }
      .new-route-inputs {
        margin-top: 10px;
      }
    }
  }
}

/* Marker */
.marker-box {
  width: 600px;
}

.marker-box .leaflet-popup-content-wrapper {
  height: 400px;
  border-radius: 0;
  padding: 3%;
}

.marker-box a.leaflet-popup-close-button {
  padding: 15px 30px 0 0;
}

.marker-box .leaflet-popup-tip {
  display: none;
}

/* popups */

/* Blips */
div.blip-popup {
  max-height: 400px;
}

.blip-images {
  display: inline-block;
  width: 90%;
  height: 285px;
}

/* new code todo clean the above shit. */
@media (min-width: 320px) and (max-width: 479px){
  /* popups */
  #map {  
    p {
      font-size: 1.3em;
    }

    .leaflet-popup-content-wrapper {
      width: 150px;
    }
    .blip-text {
      padding: 5px;
    }
    .leaflet-popup-content {
      margin: 0;
      padding: 3px 5px;
    }
    .blip-popup-body {
      margin: 0;
      height: 45px;
      overflow: hidden;
    }
  }
}