@import 'colors';

/* EDIT */
.edit_driftmap {
  .color-schemes {
    p {
      margin-top: -2px;
      display: inline;
      float:left;
    }

    input[type="radio"] {
      float:left; 
      margin-top: 0;
    }
  }
}

/* popup */
.marker-box a.leaflet-popup-close-button {
  padding: 15px 30px 0 0;
}

#map {
  .leaflet-popup-content-wrapper {
    margin: 0;
    padding: 1.5% 2.5%;
    width: 666px;
    border-radius: 0;
    overflow: hidden;

    .leaflet-popup-content {
      margin: 0;
      width: 100% !important;
    }

    .content-icons-menu {
      width: 50px;
      display: inline;
      float: left;
    }

    .content-icons-menu li {
      width: 45px;
      display: block;
      height: 45px;
      cursor: pointer;
      margin: 2% 2%;
    }

    li.friends   { background-color: #84C77B; }
    li.galleries { background-color: $light-blue; }
    li.treks     { background-color: #CEA5D4; }
    li.essays    { background-color: #755151; }

    i {
      font-size: 2em;
      line-height: 45px;
      color: #444;
    }

    .waypoint-content-container {
      float: right;
      width: 570px;
      margin: 5% 0 0;
    }

    .waypoint-popup {
      height: 410px;
      overflow-y: scroll;

      img.waypoint-popup-coverphoto {
        width: 44%;
        height:auto;
        margin: 2%;
        float: left;
      }

      /* description & coverphoto */
      p.waypoint-popup-body {
        font-size: 1.3em;
      }

      /* geft content */
      .waypoint-content {
        padding: 0 0 2%;

        .view-content {
          display: none;
        }

        .view-content.active {
          display: block;
        }

        // Galleries
        .galleries {
          img {
            width: 95%;
            margin: 0 auto;
          }
        }

        // Friends
        .friends {
          img {
            width: 95%;
            margin: 0 auto;
          }
        }

        .essays {
          img{
            width: 95%;
            margin: 0 auto;
          }
        }
      }
    }

    /* Gallery popup */
    .gallery-popup {

      .gallery {
        max-height: 500px;
        overflow-y: scroll;
        overflow-x: hidden;
        img {
          width: 90%;
          margin: 0;
        }
      }
    }
  }
}

@media (min-width: 480px) and (max-width: 767px){
  #map {
    .leaflet-popup-content-wrapper {
      
    }
    .leaflet-popup-content {
    }
    .waypoint-popup-body {
    }
  }
}