/* TimeMapper */
.tl-slide-content {
	margin: 0 auto;
}

.caro-route-details-container {
	height: auto;
	background-color: #ccc;
}

.tl-slidenav-next,
.tl-slidenav-previous {
	top: 15px !important;
}

.tl-slider-container-mask {
	margin-top: 67px;
}

#waypt-accord .li-blip-selected {
	font-weight: 600;
	color: #78acd3 !important;
}

#dm-timeline {
	overflow: visible;

	.tl-storyslider {
		overflow: visible;
	}


	.tl-slidenav-icon {
		position: relative;
		top: 390px;
	}

	.carousel-control {
		color: #fff;
		opacity: .8;
	}
}

@media (max-width: 480px){
	.route-content {
		.tl-slide-content-container .tl-slide-content{
			padding: 0 !important;
			width: 100% !important;
		}
 		.tl-slide-content-container .tl-media {
			max-width: 100% !important;
		}
		.tl-slider-container {
			height: 70% !important;
		}

		.tl-timeline .tl-storyslider{
			height: 330px !important;
		}

	}

	.tl-slidenav-icon {
		position: relative;
		top: 45px;
	}
}