@import 'colors';

.hud-container {
  position: absolute;
  top: 11%;
  right: 1%;
  bottom: 5%;
  width: 210px;

  h6.journey-title {
    font-size: 1.45em;
    color: $maroon;
    margin: 0;
  }

  .hud-top {
    position: absolute;
    top: 1%;
    right: 5%;
    bottom: 50%;
    width: 200px; 

  }

  .hud-bottom {
    position: absolute;
    top: 51%;
    right: 5%;
    bottom: 1%;
    width: 200px;
    cursor: pointer;

    p.active {
      color: #424242;
      font-weight: 600;
    }

    .journey {
      margin:0 0 10% 0;
    }

    .waypts {
      margin: 0 0 5% 10%; 
    }



  }
}