@import 'colors';

.hud-container {
  position: absolute;
  top: 11%;
  right: 1%;
  bottom: 5%;
  width: 210px;

  .hud-content {
    position: absolute;
    top: 1%;
    right: 5%;
    bottom: 50%;
    width: 200px;    
  }

  .hud-journeys {
    position: absolute;
    top: 51%;
    right: 5%;
    bottom: 1%;
    width: 200px;

    p {
      color: $maroon;
    }

    p.active {
      color: #424242;
      font-weight: 500;
    }

    .waypts {
      margin: 0 0 5% 10%; 
    }
  }
}