@import 'colors';

.hud-container {
  position: absolute;
  top: 1%;
  right: .2%;
  bottom: 5%;
  width: 28%;

  h6.journey-title {
    font-size: 1.45em;
    color: $maroon;
    margin: 0;
  }

  .hud-top {
    position: absolute;
    top: 1%;
    right: 5%;
    bottom: 50%;
    width: 100%;

    padding: 1% 3%;
    background-color: #ccc;

    .hud-waypoint-title {
      cursor: pointer;
      font-style: italic;
      margin: 1% 0 3%;
    }

  }

  .hud-bottom {
    position: absolute;
    top: 51%;
    right: 5%;
    bottom: 1%;
    width: 200px;
    cursor: pointer;

    p.active {
      color: #424242;
      font-weight: 600;
    }

    .journey {
      margin:0 0 10% 0;
    }

    .waypts {
      margin: 0 0 5% 10%; 
    }



  }
}