#dm-content-container {
	padding: 1%;
	margin: 0 0 55px 0;

	/* Carousel */
	.carousel-inner {
		height: 400px;
	}

	.item{
		height: 400px;

		 img {
			width: 100%;
			height: 400px !important;
			height: auto;
			vertical-align: middle ;
		}
	}

	.carousel-control {
		background: none;

		i {
			position: absolute;
			top: 44%;
		}

		i.fa-angle-right {
			margin-right: -15px;
		}

		i.fa-angle-left {
			margin-left: -15px;
		}
	}

	/* Blip title author body */
	.blip-title {
		margin: 3%;
		text-align: left;
	}

	.blip-body {
		margin-left: 3%;
		color: #C2D9EB;
	}

	.blip-body img {
		width: 200px;
		height: 200px;
		margin: 0 2% 2% 0;
		float: left;
	}
}

#dm-legend {
	height: 600px;
	padding: 1%;

	ul.tabs-menu {
		width: 30%;

		li {
			width: 100%;
		}
	}

	.driftmap-form-container {
		width: 70%;
	}
}

.expanded-map {
	position: absolute;	
}

.start-new {
	width: 100%;
	height: 400px;

	img {
		position: absolute;
		width: 93%;
		height: 74%;
		left:3%;top:2%;
		z-index: -1;
	}

	.start-text {
		width: 55%;
		height: 190px;
		padding: 10% 0;
		margin: 13% auto;
		background: #ccc;
		opacity: .8;
		border-radius: 4px;
		box-shadow: 2px 3px 3px black;

		p {
			text-align: center;
		}
	}
}