#dm-content-container {
	padding: 1%;
	margin: 0 0 55px 0;
	min-height: 635px;

	/* Carousel */
	.carousel-inner {
		height: 400px;
	}

	.item{
		height: 400px;
		display: block;

		img {
			width: 100%;
			height: 400px;
			vertical-align: middle ;
		}
	}

	.carousel-control {
		background: none;

		i {
			position: absolute;
			top: 44%;
		}

		i.fa-angle-right {
			margin-right: -15px;
		}

		i.fa-angle-left {
			margin-left: -15px;
		}
	}

	/* Blip title author body */
	.blip-body {
		margin-left: 3%;
		color: #C2D9EB;
	}

	.blip-body img {
		width: 200px;
		height: 200px;
		margin: 0 2% 2% 0;
		float: left;
	}
}

#dm-legend {
	height: 600px;
	padding: 1%;

	p {
		font-size: 1.07em;
	}

	p.route-title {
		font-size: 1.3em;
		font-weight: normal;
		font-style: italic;
	}

	ul.tabs-menu {
		width: 30%;

		li {
			width: 100%;
		}
	}
	.driftmap-form-container {
		width: 70%;
	}
	.author-name {
		font-style: italic;
		color: #C2D9EB;
		overflow: hidden;
	}

	.waypoints-title {
		text-align: center;
		margin:2%;
	}
}

/* Wizard Accordian */
.view-wizard-container {
	#waypt-accord {
		cursor: pointer;

		h4 {
			font-size: 1.4em;
			color:#552727;
			font-weight: 400;
		}

		p {
			font-size: 1.00em;
			color:#C2D9EB;
		}

		.blip-title {
			font-size: 1.2em;
			color: #C2D9EB;
			font-style: italic;
			margin: 3% 1%;
			text-align: left;
		}
	}

	#waypt-accord,
	.panel,
	.panel-default,
	.panel-group .panel + .panel {
		margin: 0;
		border-radius: 0;
	}

	.panel-collapse.collapse.in {
		min-height: 200px;
	}
}

.start-new {
	width: 100%;
	height: 400px;

	img {
		position: absolute;
		width: 93%;
		height: 74%;
		left:3%;top:2%;
		z-index: -1;
	}

	.start-text {
		width: 55%;
		height: 190px;
		padding: 10% 0;
		margin: 13% auto;
		background: #ccc;
		opacity: .8;
		border-radius: 4px;
		box-shadow: 2px 3px 3px black;

		p {
			text-align: center;
		}
	}
}

@media (max-width: 767px){
	#dm-content-container {
		.blip-body {
			width: 100%;
			height: 110px;
			overflow: hidden;
			text-overflow: ellipsis;
			padding-top: 4%;

			img {
				width: 110px;
				height: 110px;
			}
		}
	}

	.map-container {
		position: relative;
		top: 290px;
	}

	.view-wizard-container {
		padding: 10px 0 0 10px;
		border-radius: 5px 0 0 0;
		position: relative;
		top: -375px;
	}
}

@media (max-width: 480px){
	#dm-legend .leaflet-popup-content {
		width:150px;
	}
	#dm-legend .markers-container.wizard-step{
		margin-top: 2px;
	}
	#dm-content-container .blip-body {
		font-size: 1.1em;

		img {
			width: 50px;
			height: 50px;
		}
	}
}