#dm-content-container {
	padding: 1%;
	margin: 0 0 55px 0;

	/* Carousel */
	.carousel-inner {
		height: 400px;
	}

	.item{
		height: 400px;

		 img {
			width: 100%;
			height: 400px !important;
			height: auto;
			vertical-align: middle ;
		}
	}

	.carousel-control {
		background: none;

		i {
			position: absolute;
			top: 44%;
		}

		i.fa-angle-right {
			margin-right: -15px;
		}

		i.fa-angle-left {
			margin-left: -15px;
		}
	}

	/* Blip title author body */
	.blip-title {
		margin: 3%;
	}

	.blip-body img {
		width: 200px;
		height: 200px;
		margin: 0 2% 2% 0;
		float: left;
	}
}

#dm-legend {
	height: 600px;
	padding: 1%;

	ul.tabs-menu {
		width: 30%;

		li {
			width: 100%;
		}
	}

	.driftmap-form-container {
		width: 70%;
	}
}
