@import 'colors';

#home-page {
  /*#map,
  .map-container {
    top: -680px;
  }*/
}

/* MasterMap */
.master-container {
  width: 100%;
  height: 730px;
  overflow: hidden
}

/* Guide */
.master-guide {
  width: 47%;
  height: 680px;
  background-color: $maroon;
  position: relative;
  left: 1%;
  top: 2%;
  bottom: 2%;
  z-index: 2;
  padding: .45% .45%;  
  margin-top: 10px;
  
  /* MasterLegend */
  /* tabs */
  .master-legend,
  .master-content {
    width: 49%;
    background-color: #47505e;
    height: 660px;
    padding: 1% 0;
  }
}

.master-legend {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-left:2px;

  .legend-container {
    width: 95%;
    margin: 0 auto;
    background-color: #fff;

    p.waypoint-title {
      margin: 3px 3% 1%;
    }

    h4.waypoint-title {
      margin: 0 0 1% 2%;
      width: -moz-fit-content;
    }

    .legend-waypoints-container {
      margin-bottom: 10px;
    }
  }
}
.master-legend:hover {
  opacity: 1;
}

/* MasterContent */
.master-content {
  float: right;
  position: relative;
  top: -660px;
  margin-right: 2px;
}


/* master-leaflet */
.master-leaflet {
  position: relative;
  //top: -700px;
  top: -1329px;
}