@import 'colors';

/* MasterMap */
.master-map {
  width: 100%;
  height: 600px;
  background-color: $light-blue;

  #map,
  .map-container {
    top: -580px;
  }

}

/* MasterLegend */
.master-map {
  .master-legend {
    width: 35%;
    height: 580px;
    position: relative;
    left: 10px;
    top: 10px;
    bottom: 10px;
    background-color: #47505e;
    z-index: 2;
    opacity: 1;
    padding: 5px 0;


    .legend-container {
      width: 95%;
      height: 100%;
      margin: 0 auto;
      background-color: #fff;

      p.waypoint-title {
        margin: 3px 3% 1%;
      }

      h4.waypoint-title {
        margin: 0 0 1% 2%;
        width: -moz-fit-content;
      }

      .legend-waypoints-container {
        margin-bottom: 10px;
      }
    }



  }

  .master-legend:hover {
    opacity: 1;
  }
}