@import 'colors';

#home-page {
  /*#map,
  .map-container {
    top: -680px;
  }*/
}

/* MasterMap */
.master-container {
  width: 100%;
  height: 730px;
  overflow: hidden
}

/* Guide */
.master-guide {
  width: 47%;
  height: 709px;
  background-color: #85898C;
  position: relative;
  left: .25%;
  top: .5%;
  bottom: .5%;
  z-index: 2;
  padding: .45% .45%;  
  
  /* MasterLegend */
  /* tabs */
  .master-legend,
  .master-content {
  background-color: #e3e3e3;
    width: 49%;
    height: 660px;
  }
}

.master-legend {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-left:2px;
  padding: 1%;

  .legend-container {
    width: 95%;
    margin: 0 auto;
    background-color: #fff;

    p.waypoint-title {
      margin: 3px 3% 1%;
    }

    h4.waypoint-title {
      margin: 0 0 1% 2%;
      width: -moz-fit-content;
    }

    .legend-waypoints-container {
      margin-bottom: 10px;
    }
  }
}
.master-legend:hover {
  opacity: 1;
}

/* MasterContent */
.master-content {
  float: right;
  position: relative;
  top: -660px;
  margin-right: 2px;
  padding: 2%;

  .content-type {
    height: 580px;
    overflow: scroll;
  }

  .content-item {
    width: 97%;
    margin: 0 auto 5%;
    border: 1px solid #ccc;
    padding: 1% 3%;
  }

  p.content-name {
    color: $maroon;
    margin: 3% 0;
  }

  p.content-description {
    color: $maroon;
    margin: 3% 0 5%;
  }

  img.content-image {
    width: 100%;
    height: auto;
  }
  
  .master-galleries-container {

  }

  .master-friends-container {

  }

  .master-essays-container {

  }

  .master-treks-container {

  }
}

/* master-leaflet */
.master-leaflet {
  position: relative;
  top: -1329px;
}