// @import 'colors';

/* MasterMap */
/*.master-container {
  width: 100%;
  overflow: hidden
}*/

/* Guide */
/*.master-guide {
  width: 47%;
  height: 709px;
  background-color: #85898C;
  position: relative;
  left: .25%;
  top: .5%;
  bottom: .5%;
  z-index: 2;
  padding: .45% .45%;  
  
  .master-legend,
  .master-content {
  background-color: #e3e3e3;
    width: 49%;
    height: 660px;
  }
}
*/