#route {
	/* left side */


	/* right side */
}

.route-stop-body {
	margin:4%;
	color: #C2D9EB;
}

.route-meta {
	height: 200px;
}

.route-header {
	margin: 0 0 4%;
}

.route-description {
	margin: 4% 5% 25%;
	color: #C2D9EB;
	text-align: center;
}