#route {
	/* left side */


	/* right side */
	.view-wizard-container.journey-stops,
	.markers-container.wizard-step {
		margin-bottom: 15px;

	}

	.markers-container.wizard-step {
		max-height: 417px;
	}
}

.route-stop-body {
	margin:4%;
	color: #C2D9EB;
}

.route-header {
	margin: 0 0 4%;
}

.route-description {
	margin: 0% 5% 3%;
	color: #C2D9EB;
	text-align: center;
}

.waypoints-title {
	text-align: center;
	margin: 2% 0 2%;
}

.step-selected {
	background-color: #e3e9f2;
	border: 2px solid #ccc !important;
	border-bottom: 3px solid #ccc !important;
}