#route {
	/* left side */


	/* right side */
	.view-wizard-container.journey-stops,
	.markers-container.wizard-step {
		margin-bottom: 15px;

	}

	.view-wizard-container.existing-blips{
		border-top: 3px solid #C2D9EB;

		.wizard-step {
			overflow-y: scroll; 
		}

		.markers-container {
			height: 250px;

			li {
				cursor: grab;
			}
		}
	}
}