/* Main */

div.post-container {
	margin: 17% 0 4% 0;
	padding: 1% 6% 1% 0;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

p.post-body {
	text-align: left;
	margin: -9% 0 20px 0;
}

/* comments */
div.comments-container {
	width: 85%;
	max-height: 375px;
	float: right;
	margin: 0 0 15% 0;
	padding: 3% 0 0 0;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

h6.comment {
	margin: 3% 0;
	text-align: left;
}

form.new_comment {
	margin-top: 9%;
}


/* Aside */
#postMap {
	width: 100%;
	height: 300px;
	margin: 20% 0 0 0;
}