/* main post */
header.main-blog-post {
	width: 100%;
	height: 555px;
	border: 1px solid #ccc;
}

img.bp-main-image {
	width: 89%;
	height: 400px;
	position: absolute;
	right: 1.5%;
}

.main-title h2 {
	padding-top: 90%;
	padding-left: 20%;
	color: #fff;
	font-style: italic;
}

div.main-paragraph {
	margin-top: 36%;
}

div.post-preview-paragraph {
	margin-top: 20%;
}

/* child posts */
main.rest-blog-posts-container {
	height: auto;
	margin: 3% auto;
}

div.blog-preview {
	width: 96%;
	height: 300px;
	display: block;
	margin: 3% auto 0;
	border: 1px solid #ccc;
}

div.post-preview-title {
	padding-top: 5%;
}

img.bp-preview-image {
	width: 82%;
	height: 200px;
	position: absolute;
	right: 5%;
}

div.post-preview-title h3 {
	color: #fff;
}