#profile-map {
	width: 100%;
	height: 455px;
	margin: 0 auto;
}

div.pro-part-container {
	height: 450px;
}

div.pro-part {
	height: 400px;
	background-color: #ADCDDB; //$light-blue
	margin-bottom: 55px;
	margin-top: 20px;
	padding-top: 10px;
	border-top: 2px solid #ccc;
}

/* profile-photos */
div.profile-photos {

}

/* profile-blog-titles */
