/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Ubuntu|Roboto);

/* Color */
$light-blue: #ADCDDB;
$dark-maroon: #552727;
$dark-grey: #353535;

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	text-align: center;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: 1em;
	padding-top: 27px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Ethan's resetStyleSheet */
h1,h2,h3,h4,h5,h6 {
	font-family: 'Roboto', sans-serif;
	color: $dark-maroon;
}

h1 {
	font-size: 3.25em;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2.75em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1.1em;
	text-align: left;
}

h6 {
	font-size: .95em;
	text-align: left;
	color: $dark-grey;
}

h3.page-title {
	border-bottom: 2px solid $light-blue;
	margin-bottom: 15px;
	font-style: italic;
}

h3.post-title {

}

p {
	font-size: 1.3em;
	font-family: 'ubuntu', sans-serif;
	text-align: left;
}

a:hover,
a:focus,
a:active {
	text-decoration: none;
}

label {
	margin: 5px 0;
	text-align: left;
}

article {
	margin-bottom: 10%;
}

span.ago {
	font-size: .9em;
	color: #777;
}

input, textarea {
	margin-bottom: 4%;
}

input[type="text"] {
	width: 300px;
	display: block;
}

textarea {
	width: 400px;
	height: 150px;
	display: block;
}

div.application-container {
	width:97%;
	display: block;
	margin: 0 auto;
	padding-left: 5%;
}

#page-wrapper {
	min-height: 600px;
	margin-bottom: 30px;
}

/* buttons */
button.normal {
	width: 150px;
	height: 35px;
	display: block;
	float: left;
	margin: 0 10% 0 0;
	background: $light-blue;
	border: none;
	border-radius: 4px;
	font-size: .8em !important;
	font-family: 'Roboto', sans-serif;
	border: 2px solid #fff;
}

button.normal:hover{
	background: #fff;
	border: 2px solid $light-blue;
	font-size: .8em !important;
}