/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Ubuntu|Roboto|Raleway);

/* Color */
$light-blue: #C2D9EB;
$dark-maroon: #552727;
$dark-grey: #353535;
$light-maroon: #A00505;
$light-pink: #FCD1D8;
$light-grey: #dadce8;

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	text-align: center;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: 1em;
	padding-top: 27px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Ethan's resetStyleSheet */
.clear-fix {
	width: 100%;
	height: 4px;
	display: inline-block;
	float: none;
}

li {
	list-style-type: none;
}

div.center {
	width: 100%;
	display: block;
	margin: 0 auto;
}

.hidden {
	display:none;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Raleway', sans-serif;
	color: $dark-maroon;
}

h1 {
	font-size: 3.25em;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2.75em;
}

h4 {
	font-size: 2em;
}

h5 {
	font-size: 1.75em;
	text-align: left;
}

h6 {
	font-size: 1.5em;
	text-align: left;
	color: $dark-grey;
}

h2.page-title,
h3.page-title {
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: 2px solid $light-blue;
	text-align: left;
}

h4.page-title {
	margin-bottom: 8px;
	border-bottom: 2px solid $light-blue;
	padding-bottom: 5px;
	font-style: italic;
}

p.page-title,
label.page-title {
	font-size: 24px;
	font-style: italic;	
	border-bottom: 2px solid $dark-maroon;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	color: $dark-maroon;
	margin-bottom: 4%;
}

p {
	font-size: 1.3em;
	font-family: 'ubuntu', sans-serif;
	text-align: left;
}

a:hover,
a:focus,
a:active {
	text-decoration: none;
}

label {
	margin: 5px 0;
	text-align: left;
}

article {
	margin-bottom: 10%;
}

span.ago {
	font-size: .9em;
	color: #777;
}

input, textarea {
	font-family: 'ubuntu', sans-serif;
	margin-bottom: 4%;
}

input[type="text"] {
	width: 300px;
	display: block;
}

textarea {
	width: 400px;
	height: 150px;
	display: block;
}
div.application-container {
	width:97%;
	display: block;
	margin: 0 auto;
	padding-left: 5%;
}

#page-wrapper {
	min-height: 600px;
	margin-bottom: 30px;
}

hr.gray-spacer {
	width: 90%;
	margin: 20px 0;
}

/* flash messages */
div.flash-messages {
	width: 93%;
	height: 55px;
	margin: 0 0 1% 6%;	
	border: 1px solid #ccc;
	border-radius: 4px;
}

div.flash-danger {
	//background-color: $light-pink;
	background-color: #FCD1D8;
}

div.flash-success {
	//background-color: $success-light-blue;
	background-color: #C2D9EB;
}

p.flash {
	line-height: 50px;
}

/* forms */
form {
	min-height: 350px;
}

p.title{
	margin-bottom: 10px;
	font-size: 1.45em;
	font-style: italic;
	color: $light-maroon;
}

div.errors {
	width: 40%;
	min-height: 200px;
	background-color: $light-grey;
	padding: 2% 2% 2% 3%;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 15px;
}

ul.errors-list li {
	list-style-type: initial;
}

ul.errors-list li p {
	line-height: 35px;
	color: $light-maroon;
}

/* buttons */
span.normal,
button.normal {
	line-height: 30px;
	width: 150px;
	height: 35px;
	display: block;
	color: rgb(51, 51, 51);
	margin: 1% 10% 0 0;
	background: $light-blue;
	border: none;
	border-radius: 4px;
	font-size: 1em !important;
	font-family: 'Roboto', sans-serif;
	border: 2px solid #fff;
}

span.normal:hover,
button.normal:hover{
	background: #fff;
	border: 2px solid $light-blue;
	font-size: .8em;
}

.leaflet-container {
	height: 500px;
}
