/* TimeMapper */
.tl-slide-content {
	margin: 0 auto;
}

.caro-route-details-container {
	height: auto;
	background-color: #ccc;
}

.tl-slidenav-next,
.tl-slidenav-previous {
	top: 15px !important;
}

.tl-slider-container-mask {
	margin-top: 50px;
}