div.pro-part {
	min-height: 400px;
	margin-bottom: 55px;
	margin-top: 20px;
	padding-top: 10px;
}

div.total-posts-container {
	background-color: #8C565B;
	padding-top: 2%;
	border-bottom: 2px solid #C2D9EB;
}

/* profile-photos */
div.profile-photos {

}

/* Maps */
div.map-container {
	padding-bottom: 15px;
	border-bottom: 2px solid #C2D9EB;
	height: 435px;
}

#profile-map {
	width: 92%;
	height: 455px;
	margin: 0 auto;
	padding-bottom: 3%;
}

div.starter-globe {
	margin-left: -2%;
}

.starter-globe img {
	width: 97%;
	height: 600px;
	z-index: -1;
	position: absolute;
	top: 18%;
	left: 3%;
}

.start-journey-container {
	width: 100%;
	display: block;
	margin-top: 20%;
}

.start-journey-container button.start-journey {
	display: block;
	float: none;
	margin: 0 auto;
	width: 250px;
	height: 50px;
	border: 4px solid #C2D9EB;
}

.start-journey-container button.start-journey:hover {
	background: none;
}

.start-journey p {
	font-size: 2em;
	font-weight: bold;
	color: #552727;
	text-align: center;
}

.start-journey p:hover {
	color: #fff;

}




/* posts */
div.post-container {
	width: 95%;
	background-color: #E9EEF0;
	margin: 5% auto 0;
	padding: 2% 1%;
	border-bottom: 1px solid #8C565B;
}

div.post-container:first-child {
	margin-top: 5px;
}

div.post-container img, 
.alter-post-container img {
	width: 370px;
	height: 232px;
	margin-right: 1%;
	float: left;
}

p.post-body {
	text-align: left;
	margin: -9% 0 20px 0;
}

.post-text-container {
	min-height: 250px;
}

div.post-container p.alter-post{
	text-align: right; 
}

/* Alter existing Blib form */
.alter-post-container {
	width: 95%;
	height: 650px;
	background-color: #C2D9EB;
	margin: 0 auto;
	padding: 2% 1%;

	#post_title {
		width: 40%;
		float: right;
	}

	#post_body {
		width: 100%;
		height: 271px;
		overflow-y: scroll;
	}
	
	#post_picture {
		position: relative;
		top: 200px;
		right: 371px;
		color: #C2D9EB;
	}
}

#post_body,
#post_title {
	width: 100%;
}


/* Aside */
#postMap {
	width: 100%;
	height: 300px;
	margin: 20% 0 0 0;
}

/* New Blib */
div.profile {
	width: 37%;
	float: right;
	margin-left: 4%;
}

div.new-blib-container {
	width: 92%;
	padding: 2%;
	background-color: #C2D9EB;
	margin-bottom: 20px;
}
/* Edit User Profile */
.profile-details-container {
	width: 95%;
	height: 325px;
	border-top: 1px solid #552727;
	border-left: 1px solid #552727;
	padding: 3% 0 3% 3%;
	margin-right: 0;

	.profile h4 {
		width: 95%;
	}

	img.pp {
		width: 200px;
		height: 225px;
		float: left;
		margin-right: 5px;
	}

	.user-info p {
		line-height: 30px;
		&:first-child {
			border-bottom: 1px solid #ADCDDB;
			font-style: italic;
		}
	}

	p.user-from,
	p.user-gps {
		color: #ccc;
	}
}

.form-open {
	height: 620px;
}




/* New Blib Form */
#new_post {
	min-height: 415px;
}

a.edit-anchor {
	cursor: pointer;
}

/* Color 
$light-blue: #ADCDDB;
$dark-maroon: #552727;
$light-maroon: #8C565B;
$dark-grey: #353535;
$white-grey: #E9EEF0;
*/
