div.pro-part {
	min-height: 400px;
	margin-bottom: 55px;
	margin-top: 20px;
	padding-top: 10px;
}

div.total-posts-container {
	background-color: #8C565B;
	padding-top: 2%;
	border-bottom: 2px solid #C2D9EB;
}

/* Maps */
div.map-container {
	padding-bottom: 15px;
	border-bottom: 2px solid #C2D9EB;
	height: 650px;
}

#profile-map {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 3%;
}

/* map details */
div.map-details {
	h3 {
		
	}
}

div.starter-globe {
	margin-left: -2%;
}

.starter-globe img,
img.error-map {
	width: 97%;
	height: 600px;
	z-index: -1;
	position: absolute;
	top: 18%;
	left: 3%;
}

.start-journey-container {
	width: 100%;
	display: block;
	margin-top: 20%;
}

.start-journey-container button.start-journey {
	display: block;
	float: none;
	margin: 0 auto;
	width: 300px;
	height: 50px;
	border: 4px solid #C2D9EB;
}

.start-journey-container button.start-journey:hover {
	background: none;
}

.start-journey p {
	font-size: 2em;
	font-weight: bold;
	color: #552727;
	text-align: center;
}

.start-journey p:hover {
	color: #fff;
}

.next-container {
	width: 250px;
	margin: 4%;
}

/* New Blib */
div.profile {
	width: 37%;
	float: right;
	margin-left: 4%;
}

div.new-blip-container {
	width: 92%;
	padding: 2%;
	background-color: #C2D9EB;
	margin-bottom: 20px;
}
/* Edit User Profile */
.profile-details-container {
	width: 95%;
	height: 325px;
	border-top: 1px solid #552727;
	border-left: 1px solid #552727;
	padding: 3% 0 3% 3%;
	margin-right: 0;

	.profile h4 {
		width: 95%;
	}

	img.pp {
		width: 200px;
		height: 225px;
		float: left;
		margin-top: 40px;
		margin-right: 5px;
	}

	.user-info p {
		line-height: 30px;
		&:first-child {
			border-bottom: 1px solid #ADCDDB;
			font-style: italic;
		}
	}

	p.user-from,
	p.user-gps {
		color: #ccc;
	}
}



/* Color 
$light-blue: #ADCDDB;
$dark-maroon: #552727;
$light-maroon: #8C565B;
$dark-grey: #353535;
$white-grey: #E9EEF0;
*/
