div.pro-part {
	min-height: 400px;
	margin-bottom: 55px;
	margin-top: 20px;
	padding-top: 10px;
}

img.pp {
  width: 100%;
  height: auto;
  max-width: 265px;
  float: left;
  margin-top: 11px;
  margin-right: 5px;
}

/* Edit User Profile */
.profile-details-container {
	width: 95%;
	height: 325px;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	padding: 3% 0 3% 3%;
	margin-right: 0;

	.profile h4 {
		width: 95%;
	}

	.user-info p {
		line-height: 30px;
		&:first-child {
			border-bottom: 1px solid #ADCDDB;
			font-style: italic;
		}
	}
}

.edit-delete-map {
	margin-top: 10px;
	float: right;	

	span {
		display: inline;
	}
}


@media (max-width: 480px){
	div.profile {
		width: 100%;
	}
	img.pp {
		margin: 20px 0 20px;
	}
	#profile .start-new {
		height: 270px;
		margin-bottom: 0;
	}
}

@media (max-width: 767px){
	.profile-details {
		margin-bottom: 30px;
	}
	.edit-delete-map a {
		display: block;
		margin: 10px 0;
		text-align: left;
	}
	.edit-delete-map span {
		display: none;
	}
	.profile-details-container img.pp {
		width: 165px;
		height: 165px;
	}
	#profile #driftmap-timeline-container {
		margin: 0;
	}
	#profile .map-container {
		top: 300px;
	}
}

@media (max-width: 480px){

}

@media (max-width: 430px){
	.profile-details-container img.pp {
		width:99%;
		height: auto;
		display: block;
		margin: 0 auto; 
	}
}