#view-driftmap-wizard {

	.wizard-container {
		height: 241px;
		opacity: .87;
		border: 1px solid #ddd;
		margin-bottom: 71px;
		top: 271px;
	}

	.toggle-wizard {
		width: 47px;
		height: 40px;
		position: absolute;
		z-index: 1; 
		right: 0;
		top: 139px;
	}

	li.wizard-table[data-step="title"] {
		overflow: hidden;
	}

}

.instructions-title,
.route-title {
	color: #552727;
}