#view-driftmap-wizard {

	.wizard-container {
		height: 241px;
		opacity: .87;
		border: 1px solid #ddd;
		margin-bottom: 71px;
		top: 271px;
	}

	.toggle-wizard {
		width: 47px;
		height: 40px;
		position: absolute;
		z-index: 1; 
		right: 0;
		top: 139px;
	}

	li.wizard-table[data-step="title"] {
		overflow: hidden;
	}

	.reveal-all {
		width: 87%;
		top: 85px;
		height: 420px;
	}
}

.blip-photos img {
	width: 100%;
}

.unslider img {
	width: 100%;
}

.instructions-title,
.route-title,
.blip-title {
	color: #552727;
}

.todo-content-container {
	width: 95%;
	height: 360px;
	display: block;
	margin: 8px auto;
	overflow-y: scroll;
	overflow-x: hidden; 
}

.todo-routes-container {

	h4 {
		width: 70%;
		display: block;
		margin: 0 auto;
		padding-bottom: 11px;
		border-bottom: 2px solid #ccc;
	}

	p.todo-title {
		font-size: 1.5em;
		color: #552727;
		margin: 3%;
	}

	p.todo-body {
		font-size: 1.2em;
		margin: 3%;
	}

	p.todo-route-body {
		margin-bottom: 20px;
	}

	.asdf-route {
		border: 1px solid #aaa;
		margin: 20px 0 40px;
	}
}

#map.toggle-todo {
	top: -489px !important;
}

.dismiss-todo {
	float: right;
}