#map {
	width: 92%;
	height: 455px;
	margin: 0 auto;
	padding-bottom: 3%;
}

nav#main {
	width: 65px;
	height: 100%;
	background: #dadce8; // $light-grey;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	border-right: 2px solid #3f4150;
	z-index: 1;
}

nav#main ul {
	margin-top: 30px;
}

nav#main ul li {
	width: 100%;
	height: 65px;
	margin: 0 0 25px 0;
}

nav#main ul li i {
	width: 65px;
	color: #06072E;
	text-align: center
}

nav#main ul li p {
	display: none;
	text-align: center;
	color: #06072E;
}

div.dash-container {
	
}