#map {
	width: 92%;
	height: 555px;
	margin: 0 auto;
	padding-bottom: 3%;
}

nav#main {
	width: 65px;
	height: 100%;
	background: #dadce8; // $light-grey;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	border-right: 2px solid #3f4150;
	z-index: 1;
}

nav#main ul {
	margin-top: 30px;
}

nav#main ul li {
	width: 100%;
	height: 65px;
	margin: 0 0 25px 0;
}

nav#main ul li i {
	width: 65px;
	color: #06072E;
	text-align: center
}

nav#main ul li p {
	display: none;
	text-align: center;
	color: #06072E;
}

#dash-container {
	h3.page-title {
		padding: 1%;
	}

	h4 {
		text-align: left;
	}

	.total-posts-container {
		width: 90%;
		margin: 4px auto; 
		padding: 5px 20px;
		background-color: #dadce8;
	}

	.post-container {
		width: 99%;
		border-top: 1px solid #552727;
		border-left: 1px solid #552727;
		border-right: none;
		border-bottom: none;
	}

	.img-user-container {
		height: 315px;
		margin-left: 0;
		padding-left: 0;
	}

	.post-img-container {
		padding: 0;
	}

	.post-img-container img {
		width: 80%;
		height: 300px;
	}	
}

/* Color 
$light-blue: #C2D9EB;
$dark-maroon: #552727;
$dark-grey: #353535;
$light-maroon: #A00505;
$light-pink: #FCD1D8;
$light-grey: #dadce8;
*/

div.readme-container {
	height: 200px;
	width: 80%;
	margin: 0 auto;
	display: block;

	p {
		margin: 10px;
		color: #C2D9EB;
	}

	button {
		display: inline-block;
		margin: 20px 5px;
	}
}





