<div id="journey" class="route-show">
	<div class="container">
		<div id="driftmap-timeline-container" class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
			<div class="journey-content">
				<h4 class="journey-header"><%= @route.title %></h4>
				<p class="journey-description"><%= @route.description %></p>
				<div id='dm-timeline-0' style="width: 100%; height: 600px"></div>
			</div>
		</div>

		<div id="dm-legend" class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
			<div class="map-container">
				<div id='map'></div>
			</div>

			<% if user_is_home(@user) %>
			  	<p class="edit-delete-map">
			  		<%= link_to 'new journey', new_journey_path %>
			  		<!-- <span style="
			  		color:#23527c; font-size:14px;"> | </span>  -->
			  		<%#= link_to 'new blip', new_blip_path %>
			  	</p>
			  <% end %>
			</div>
		</div>
	</div>
</div>